@font-face {
    font-family: 'Roboto';
    src: url("/assets/fonts/RobotoCondensed-Regular.ttf");
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* overflow: hidden; */
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #161616;
    /* background-image: url("/assets/images/noise.png"); */
}
#linha-fundo{
    position: relative;
    height: 50vh;
    border-bottom: #676767 0.2em solid;
    background-color: #2B2B2B;
}
/* home main */
main{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25vh;
    left: 10vw;
    height: 50vh;
    width: 80vw;
    border: red 2px solid;
}
main img{
    height: 50vh;
}
.home-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    letter-spacing: 0.5em;
    background-color: rgb(76, 100, 100);
}
.home-texto p{
    font-size: 2em;
    color: #8F8F8F;
}
.home-texto h1{
    font-size: 3em;
    color: #ffffff;
}
.home-foto{

    ackground-color: rgb(81, 107, 107);
}

/* home footer */
