@font-face {
    font-family: 'Roboto';
    src: url("./assets/fonts/RobotoCondensed-Light.ttf");
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
    background-color: #101010;
    width: 100vw;
    height: 100rem;
    background-image: url("./assets/images/noise.png");
}

/* MAIN */

.linha-fundo{
    position: relative;
    background-color: #202020;
    border-bottom: 0.15em #3f3f3f solid;
    width: 100vw;
    height: 60vh;
}
.home-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(136, 56, 56, 0.445); */
    width: 90vw;
    height: 80vh;
    left: 5vw;
    top: 10vh;
}
.home-textos{
    margin-top: 5vh;
    letter-spacing: 0.3vh;
    color:#8F8F8F;
}
.home-texto-nome{
    font-size: 4.5vh;
}
.home-texto-nome h1{
    font-size: 6vh;
    color:#ffffff;
}
.home-texto-links{
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
    display: flex;
    font-size: 1.7vh;
}
.home-texto-links li{
    
}
.home-foto img{
    height: 50vh;
    margin-left: 2rem;
}

/* FOOTER */

footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: #000000;
}
.footer-container{
    font-size: 2vh;
    color:#3E3E3E;
}
.footer-container p{
    padding-right: 12vh;
}
.footer-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container li{
    padding: 2vh;
}
.footer-container img{
    height: 4vh;
}